<!doctype html>
<html>

<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb() {
            var x = document.getElementById("fname");
            x = x.value;
            console.log("User input value:", x)
            $.getJSON({
                url: "/air_quality/callback",
                data: { 'data': x },
                success: function (result) {
                    console.log("User Input Succeeded")
                    Plotly.newPlot('chart', result, {});
                },
                error: function () {
                    console.log('User Input Failed!');
                }
            });
        }
    </script>
    <script type=text/javascript>
    $(function() {
      $('a#test').on('click', function(e) {
        e.preventDefault()
        $.getJSON('/air_quality/start_sensor',
            function(data) {
          //do nothing
        });
        return false;
      });
    });
</script>
</head>

<body style="font-family:arial, sans-serif">
    <h1>GDP per Capita Over Time</h1>
    <h2>Choose your country</h2>
    <p>Make sure you spell it correctly with capital letter(s), e.g. United Kingdom</p>
    <form>
        <input type="text" id="fname" name="fname" onchange="cb()">
    </form>
    
    <div id="chart" class="chart"></div>

    <div class='container'>
        <h3>PM 2.5</h3>
        <form>
            <a href=# id=aq_button name=aq_button><button class='btn btn-default'>Start Air Quality</button></a>
        </form>
    
    </div>
</body>

<script>
    d = {{ graphJSON | safe }};
    console.log('What you want to log here.');
    Plotly.newPlot('chart', d, {});
</script>



</html>