<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <ul>
  <h2>Jarvis Camera:</h2>
		    <ul>
	            <form method="post">    
		    <input type="submit" name="take_picture" value= "Take a picture"></li>
		    </form>
		    </ul>		 
        <p>Picture Status: {{picture_status}}</p>  
        <p>Picture Location: {{fname}}</p> 
	</ul>
    
    {% endblock %}
    
  </body>
</html>


